{% extends 'searcher/base.html' %}

<!--  -->

{% block content %}

<section class="hero">
  <div class="hero-top">
    <h2>{{thesis.title}}</h2>
    <small>Published date: {{thesis.published_date}}</small>
    <small>Defense date: {{thesis.defense_date}}</small>
    <small><strong>Status: </strong>{{thesis.get_status_display}}</small>
    <small><strong>Adviser:</strong> {{thesis.adviser}}</small>
  </div>
  <div class="hero-bottom">
    <div class="authors-container">
      <small><strong>Authors</strong></small>
      <ul class="authors">
        {% for author in authors%}
        <li><small>{{author.name}}</small></li>
        {% endfor %}
      </ul>
    </div>
    <div class="keywords-container">
      <small><strong>Keywords</strong></small>
      <ul class="keywords">
        {% for keyword in keywords%}
        <li><small>{{keyword.name}}</small></li>
        {% endfor %}
      </ul>
    </div>
    <div class="tags-container">
      <small><strong>Tags</strong></small>
      <ul class="tags">
        {% for tag in tags%}
        <li><small>{{tag.name}}</small></li>
        {% endfor %}
      </ul>
    </div>
    <div class="panelists-container">
      <small><strong>Panelists</strong></small>
      <ul class="panelists">
        {% for panelist in panelists %}
        <li><small>{{panelist.name}}</small></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="hero-footer">
    <div class="institution">
      <small><strong>Institution & Department:</strong></small>
      <small style="text-transform: uppercase"
        >{{thesis.institution}}-{{thesis.department}}</small
      >
    </div>
  </div>
</section>

<section class="abstract">
  <h3>Abstract</h3>
  <p>{{thesis.abstract}}</p>

  <a href="{{thesis.paper_link}}">Link to paper</a>
</section>

<section>
  {% with comments.count as total_comments %}
  <h2>{{ total_comments }} comment{{ total_comments|pluralize}}</h2>
  {% endwith %} {% for comment in comments %}
  <div class="comment">
    <p class="info">
      Comment {{ forloop.counter }} by {{ comment.name }} {{ comment.created }}
    </p>
    {{ comment.body|linebreaks}}
  </div>
  {% empty %}
  <p>There are no comments.</p>
  {% endfor %} {% include "searcher/thesis/includes/comment_form.html" %}
</section>

{% endblock content %}
