{% extends 'searcher/base.html' %}
<!--  -->
{% block title %} Thesis Searcher {% endblock title %}

<!--  -->
{% block content %}

<!--  -->
<h3>Showing available theses</h3>
<ul class="theses-list">
  {%for thesis in theses%}
  <li class="thesis-item">
    <a href="{{thesis.get_absolute_url}}">{{thesis.title}}</a>
    <small>{{thesis.get_status_display}}</small>
    <small>{{thesis.published_date}}</small>
  </li>
  {%endfor%}
</ul>
{% include 'searcher/pagination.html' with page=theses %}
<!--  -->
{% include 'searcher/thesis/includes/search_form.html' %}
<!--  -->
{% endblock %}
