{% extends 'searcher/base.html' %}
<!--  -->
{% block title %} Search results {% endblock title %}

<!--  -->
{% block content %}
<h2>Search results</h2>
<h3>Showing {{theses|length}} theses</h3>
<ul class="theses-list">
  {%for thesis in theses%}
  <li>
    <a href="{{thesis.get_absolute_url}}">{{thesis.title}}</a>
    <small>{{thesis.get_status_display}}</small>
    <small>{{thesis.published_date}}</small>
  </li>
  {%endfor%}
</ul>
{% include 'searcher/pagination.html' with page=theses %}
<!--  -->
{% endblock %}
