<style>
  main {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  h3 {
    margin-top: 2rem;
  }
  .theses-list {
    padding: 1rem;
    border-radius: 2rem;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
  }

  li {
    display: flex;
    flex-direction: column;
  }
</style>

<ul class="theses-list">
  {%for thesis in theses%}
  <li>
    <a href="{% url 'thesis_detail' thesis.id%}">{{thesis.title}}</a>
    <small>{{thesis.get_status_display}}</small>
    <small>{{thesis.published_date}}</small>
  </li>
  {%endfor%}
</ul>
